<h1><%= $asignatura.ASIGN_NOMBRE %> - Temas</h1>
<!-- <Aqui en la vista en la que se van a mostrar el listado de TEMAS>

 -->    <table><thead>
<tr>
    <th>Id</th><th>Descripción</th><th colspan=2><%= link_to 'Nuevo', temas_nuevo_path %></th><th>Ver Contenidos</th>
</tr>
</thead>
<tbody>
<%  @lista.each do |item|  %>
    <tr>
    <td><%= item.id %></td>
    <td><%= item.descripcion %></td>
    <td><%= link_to 'Editar', temas_editar_path(item.id) %></td>
    <td><%= link_to 'Borrar', temas_borrar_path(item.id), method: :delete %></td>
    <td><%= link_to 'Contenidos', temas_contenidos_path(item.id) %></td>
    </tr>   
<% end %>
</tbody>
</table>
