<h1><%= $tema.descripcion %> - Contenidos</h1>
<!-- <Aqui en la vista en la que se van a mostrar el listado de TEMAS>

-->    <table>
	<thead> 
		<tr> 
			<th>Id</th>
			<th>Descripción</th>
			<th colspan=2>
				<%= link_to 'Nuevo', contenidos_nuevo_path %>

			</th>
		</tr> 
	</thead> 
	<tbody> 
		<% @lista.each do |item|  %> 
		<tr> 
			<td>
				<%= item.id %>

			</td>
			<td>
				<%=item.descripcion %>

			</td>
			<td>
				<%= link_to 'Editar',contenidos_editar_path(item.id) %>

			</td>
			<td><%= link_to 'Borrar',contenidos_borrar_path(item.id), method: :delete %>

			</td>

		</tr>   
		<% end %>
	</tbody>
</table>